/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Helvetica Condensed';
	src: url('/src/assets/fonts/helvetica_condensed.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Neue Helvetica Compressed';
	src: url('/src/assets/fonts/neue_helvetica_59_compressed.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Neue Helvetica Compressed';
	src: url('/src/assets/fonts/neue_helvetica_79_compressed_bold.ttf') format('truetype');
	font-weight: bold;
}
